#checkboxes-tags-demo > .MuiButtonBase-root {
  margin: 3px;
  max-width: calc(100% - 6px);
  background: #000;
  color: #fff;
  height: 24px;
}
#checkboxes-tags-li {
  font-size: 0.875rem;
}
#checkboxes-tags-li:hover {
  background: #e0e0e0;
}
.MuiChip-root {
  background: #000;
}